.list {
  background: #FFFFFF;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 59px;
  list-style: none;
  transition: all 0.8s ease 0s;
  position: fixed;
  bottom: 0;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
  }
}

.list.hidden {
  transform: translateY(100%);
}